/* styles.css */

/* Styl dla całej strony */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; /* białe tło */
}

/* Styl dla nagłówka */
h1 {
  color: #333;
}

/* Styl dla listy repozytoriów */
ul {
  list-style-type: none;
  padding: 0;
}

/* Styl dla pojedynczego repozytorium */
li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  transition: background-color 0.3s; /* płynne przejście koloru tła */
}

/* Podświetlenie po najechaniu myszką */
li:hover {
  background-color: #f0f0f0; /* podświetlenie na szarym tle */
}

/* Styl dla tytułu repozytorium */
h2 {
  color: #007bff;
}

/* Styl dla opisu repozytorium */
p {
  color: #555;
}

/* Styl dla kontenera repozytoriów */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 700px;
  background: #fff;
  padding-bottom: 30px;
}

/* Styl dla pojedynczego elementu repozytorium */
.repo-item {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  transition: background-color 0.3s; /* płynne przejście koloru tła */
}

/* Podświetlenie po najechaniu myszką */
.repo-item:hover {
  background-color: #f0f0f0; /* podświetlenie na szarym tle */
}

/* Styl dla tytułu repozytorium w elemencie */
.repo-title {
  color: #007bff;
  font-size: 20px;
  font-weight: bold;
}

/* Styl dla opisu repozytorium w elemencie */
.repo-description {
  color: #555;
}

/* Styl dla ikony repozytorium w elemencie */
.repo-icon {
  margin-right: 10px;
}
