/* HomePage.css */

/* Styl dla całej strony */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* zmieniony kolor tła */
}

/* Styl dla nagłówka */
h1 {
  color: #f5ecec;
  text-align: center; /* wycentrowany tekst */
  margin-bottom: 20px; /* dodatkowy margines na dole */
}

/* Styl dla listy repozytoriów */
ul {
  list-style-type: none;
  padding: 0;
  width: 80%; /* szerokość listy dostosowana do zawartości */
  margin: auto; /* wyśrodkowanie listy */
  max-height: 400px; /* maksymalna wysokość listy z paskiem przewijania */
  overflow-y: auto; /* pasek przewijania, jeśli lista jest dłuższa */
}

/* Styl dla pojedynczego repozytorium */
li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  transition: background-color 0.3s;
  cursor: pointer; /* wskaźnik kursora po najechaniu */
}

/* Podświetlenie po najechaniu myszką */
li:hover {
  background-color: #f0f0f0;
}

/* Styl dla tytułu repozytorium */
h2 {
  color: #f1f1f1;
  margin-bottom: 5px; /* dodatkowy margines na dole tytułu */
}

/* Styl dla opisu repozytorium */
p {
  color: #555;
  margin-bottom: 10px; /* dodatkowy margines na dole opisu */
}

/* Styl dla kontenera repozytoriów */
.repository-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Styl dla przycisków nagłówka */
.header-buttons {
  display: flex;
  justify-content: flex-end; /* przyciski wyrównane do prawej */
  width: 80%; /* szerokość dostosowana do zawartości */
  margin-bottom: 20px; /* dodatkowy margines na dole */
}

.header-buttons button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.header-buttons button:hover {
  background-color: #0056b3;
}

/* Styl dla modalu zapisu */
.enrollment-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Nowy styl dla pojedynczego repozytorium */
.repo-item {
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin: auto;
  border-radius: 20px; /* Nowa właściwość dla owalnego kształtu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Cień */
}

.search-bar {
  width: 80%;
  margin: 20px auto; /* Mniejszy margines od góry, większy od dołu */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
