/* MyAccountPage.css */

/* Styl dla całej strony */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* zmieniony kolor tła */
}

/* Styl dla białego boksu user info */
.user-info-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px; /* zaokrąglenie rogów */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* cień */
  margin-bottom: 20px; /* odstęp na dole */
}

/* Styl dla litery w kolorze tła */
.user-info-box h1,
.user-info-box h2 {
  color: black; /* kolor tekstu tła */
}

/* Styl dla listy repozytoriów */
ul {
  list-style-type: none;
  padding: 0;
  width: 80%; /* szerokość listy */
  margin: 50; /* wyśrodkowanie listy */
}

/* Styl dla pojedynczego repozytorium */
li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 10px; /* zaokrąglenie rogów */
}

/* Podświetlenie po najechaniu myszką */
li:hover {
  background-color: #f0f0f0;
}

/* Styl dla tytułu repozytorium */
h2 {
  color: white;
  margin-bottom: 5px; /* dodatkowy margines na dole tytułu */
}
